p,
h1 {
  color: #fff;
  text-align: center;
  cursor: default;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

img {
  width: 40px;
  filter: drop-shadow(0px 4px 8px rgba(1, 1, 13, 0.5));
}

table {
  width: 100%;
  color: #000;
  text-align: center;
  border-radius: 15px;
  box-sizing: border-box;
  border: 1px solid rgba(155, 155, 255, 0);
  cursor: default;
}

tr {
  border-bottom: 0px solid rgba(155, 155, 255, 0.1);
  background-image: linear-gradient(110deg, rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0), rgba(11, 11, 11, 0), rgba(11, 11, 11, 0), rgba(11, 11, 11, 0), rgba(11, 11, 11, 0), rgba(11, 11, 11, 0), rgba(11, 11, 11, 0.5)), linear-gradient(rgba(145, 115, 255, 0.22), rgba(145, 115, 255, 0.05), rgba(11, 11, 22, 0.05), rgba(11, 11, 22, 0.6));
}

th {
  background: rgba(11, 11, 11, 0.8);
  line-height: 40px;
  color: white;
  font-family: "Space Grotesk";
  font-size: 13px;
  font-weight: bold;
  margin: 0px;
}

th,
td {
  padding: 8px 8px;
  color: WHITE;
}

th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: left;
}

.positive {
  color: #6abe2a;
  font-weight: 600;
}

.negative {
  color: #ff0000;
  font-weight: 600;
}