*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --color-cyan: #fff;
  --color-graphite: #fff;
  --color-charcoal: #fff;
  --color-yellow: #fff;
  --color-gray: #fff;
  --color-gray-l: #fff;
  --font-monserrat: "Montserrat", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

body {
  display: block;
  position: relative;
  margin: 0;
  overflow-x: clip;
  background-color: rgba(8, 0, 22, 0.1);
  font-family: var(--font-monserrat);
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

body::before,
body::after {
  content: "";
  display: block;
  position: absolute;
  width: 47%;
  max-height: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.wrapper {
  display: block;
  margin-inline: auto;
  width: 100%;
  max-width: 1280px;
}

.preview {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 767.9px) {
  body {
    font-size: 16px;
  }

  body::before {
    position: absolute;
    width: 72%;
    right: 0;
    rotate: 180deg;
    translate: -40% 0;
  }

  body::after {
    position: absolute;
    width: 55%;
  }
}
/* Base Template */
.base-template__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100dvh - 160px);
}

.base-template__content {
  position: relative;
  z-index: 1;
}

.base-template__heading {
  flex: 1;
  z-index: 1;
}

@media screen and (max-width: 767.9px) {
  .base-template__heading {
    align-items: center;
  }
}
.base-template__heading .base-template__title,
.base-template__heading .base-template__text {
  text-align: left;
}

@media screen and (max-width: 767.9px) {
  .base-template__heading .base-template__title,
.base-template__heading .base-template__text {
    text-align: center;
  }
}
.base-template__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--font-oswald);
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.15;
}

.base-template__text {
  display: block;
  margin-bottom: 80px;
  font-weight: 300;
  text-align: center;
  line-height: 1.35;
  color: var(--color-gray-l);
}

.base-template__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px 90px;
  max-width: 100%;
  margin-inline: auto;
}

@media screen and (max-width: 767.9px) {
  .base-template__title {
    font-size: 32px;
  }
}
/* Petal Menu */
.petal-menu {
  --lines-height: 2px;
  --lines-gap: 8px;
  --transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.3);
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0px;
  gap: 12px;
  white-space: nowrap;
}

.petal-menu__inner {
  position: relative;
}

.petal-menu__lines {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  aspect-ratio: 1;
  width: 70px;
  padding: 20px;
  background: var(--color-graphite);
  border-radius: 20px;
  cursor: pointer;
  flex-direction: column;
  gap: var(--lines-gap);
}

.petal-menu__lines input {
  all: unset;
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  border-radius: 20px;
}

.petal-menu__lines i {
  display: block;
  position: relative;
  width: 100%;
  height: var(--lines-height);
  background: var(--color-cyan);
  transform-origin: 50% 50%;
  transition: var(--transition);
}

.petal-menu__lines:has(input:checked) i:nth-of-type(2) {
  display: none;
}

.petal-menu__lines:has(input:checked) i:nth-of-type(1) {
  transform: translate3d(0, calc(var(--lines-height) / 2 + var(--lines-gap) / 2), 0) rotate(45deg);
}

.petal-menu__lines:has(input:checked) i:nth-of-type(3) {
  transform: translate3d(0, calc((var(--lines-height) / 2 + var(--lines-gap) / 2) * -1), 0) rotate(-45deg);
}

.petal-menu__text {
  transition: opacity 0.3s;
}

.petal-menu:has(input:checked) .petal-menu__text {
  opacity: 0;
}

.petal-menu__item {
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 2;
  rotate: -90deg;
  pointer-events: none;
  transition: var(--transition);
}

.petal-menu:has(input:checked) .petal-menu__item {
  opacity: 1;
}

.petal-menu:has(input:checked) .petal-menu__item:nth-child(1) {
  rotate: -70deg;
}

.petal-menu:has(input:checked) .petal-menu__item:nth-child(2) {
  rotate: 0deg;
}

.petal-menu:has(input:checked) .petal-menu__item:nth-child(3) {
  rotate: 70deg;
}

.petal-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  translate: -50% 0;
  width: 105px;
  height: 77px;
  background: url("https://bato-web-agency.github.io/bato-shared/img/petal.svg") center center no-repeat;
  background-size: 100%;
  pointer-events: auto;
  cursor: pointer;
  transition: scale 0.3s ease-out;
}

.petal-menu__item:nth-child(1) img {
  rotate: 70deg;
}

.petal-menu__item:nth-child(3) img {
  rotate: -70deg;
}

@media (hover: hover) and (pointer: fine) {
  .petal-menu__link:hover {
    scale: 1.15;
  }
}
@media (hover: none) {
  .petal-menu__link:active {
    scale: 1.15;
  }
}
@media screen and (max-width: 1366px) {
  .petal-menu {
    justify-content: center;
  }
}
/* Contact Menu */
.contact-menu {
  position: fixed;
  left: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

@media screen and (max-width: 767.9px) {
  .contact-menu {
    display: none;
  }
}
.contact-menu input {
  display: none;
}

.contact-menu__toggle {
  position: relative;
  cursor: pointer;
}

.contact-menu__trigger,
.contact-menu__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 20px;
  background-color: var(--color-graphite);
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.contact-menu__trigger img,
.contact-menu__link img {
  display: block;
  width: 24px;
  height: auto;
  transition: opacity 0.3s ease-out, filter 0.3s ease-out;
}

.contact-menu__trigger img:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-menu__label {
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
  max-width: 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out, max-width 0.3s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .contact-menu__toggle:hover .contact-menu__trigger,
.contact-menu__trigger:hover,
.contact-menu__link:hover {
    background-color: var(--color-cyan);
  }

  .contact-menu__toggle:hover .contact-menu__trigger img,
.contact-menu__trigger:hover img,
.contact-menu__link:hover img {
    filter: brightness(0.25);
  }

  .contact-menu__toggle:hover .contact-menu__label {
    max-width: 135px;
    opacity: 1;
  }
}
.contact-menu input:checked ~ .contact-menu__toggle .contact-menu__trigger img:first-child {
  opacity: 0;
}

.contact-menu input:not(:checked) ~ .contact-menu__toggle .contact-menu__trigger img:last-child {
  opacity: 0;
}

.contact-menu input:checked ~ .contact-menu__toggle .contact-menu__label {
  max-width: 0;
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .contact-menu input:not(:checked) ~ .contact-menu__toggle:hover .contact-menu__label {
    max-width: 135px;
    opacity: 1;
    transition-delay: 0.3s;
  }

  .contact-menu input:checked ~ .contact-menu__toggle:hover .contact-menu__label {
    max-width: 0;
    opacity: 0;
  }
}
.contact-menu__list {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  pointer-events: none;
}

.contact-menu__list li {
  transform: translateY(25%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.contact-menu__list li:nth-child(1) {
  transition-delay: 0.05s;
}

.contact-menu__list li:nth-child(2) {
  transition-delay: 0.1s;
}

.contact-menu__list li:nth-child(3) {
  transition-delay: 0.15s;
}

.contact-menu input:checked ~ .contact-menu__list {
  pointer-events: all;
}

.contact-menu input:checked ~ .contact-menu__list li {
  transform: translateY(0);
  opacity: 1;
}

:root {
  --color-primary: #00FF1A;
  --transition: 0.4s;
}

body {
  font-family: "Inter", sans-serif;
}

.base-template__wrapper {
  min-height: calc(100dvh - 300px);
  justify-content: flex-start;
  padding-bottom: 450px;
}

.wrapper {
  max-width: 1445px;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 82px;
  background-color: #191c25;
  border-bottom: 1px solid #17151e99;
}

.header__logo {
  max-width: 90px;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__navigation-wrapper {
  display: flex;
  width: 100%;
  padding-left: 50px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.header__list-item {
  display: flex;
  padding: 30px 0 50px;
  margin-bottom: -20px;
  gap: 8px;
  font-size: 16px;
}

.header__list-item > a {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: var(--transition);
}

.header__list-item > a svg path {
  transition: var(--transition);
}

.header__list-item .submenu-wrapper {
  position: absolute;
  width: 100%;
  top: 88px;
  left: 0;
  border-radius: 20px;
  padding: 30px 30px 50px 30px;
  background-color: rgba(25, 28, 37, 0.33);
  backdrop-filter: blur(17px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

@media screen and (min-width: 1280px) {
  .header__list-item .submenu-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.header__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 42px;
  width: max-content;
  padding: 6px 20px;
  border-radius: 20px;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  transition: var(--transition);
}

.submenu-list__title {
  width: max-content;
  margin-bottom: 25px;
  font-size: 12px;
  text-transform: uppercase;
  color: #a0a1a5;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 295px;
  padding-left: 0;
}

.submenu-list__item {
  display: flex;
  padding-right: 100px;
  margin-right: -100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.submenu-list__item:hover {
  cursor: pointer;
  border-radius: 5px;
}

.submenu-list__item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 16px 6px 6px;
  gap: 16px;
  border-radius: 20px;
  transition: var(--transition);
}

.submenu-list__item-wrapper > svg {
  margin-left: auto;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.submenu-list__wrapper {
  position: relative;
}

.submenu-content {
  position: absolute;
  right: 0;
  top: 0;
  max-width: calc(100% - 365px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.submenu-list__item.has-submenu.active .submenu-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.submenu-list__item.has-submenu.active .submenu-list__item-wrapper {
  background-color: rgba(1, 1, 1, 0.6);
}

.submenu-list__item.has-submenu.active .submenu-list__item-wrapper > svg {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.submenu-list__item-link {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.submenu-list__item-title {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.submenu-list__item-icon {
  display: flex;
}

.submenu-list__item-subtile {
  font-size: 12px;
  font-weight: 800;
  color: #ffb800;
}

.submenu-content__title {
  width: max-content;
  margin-bottom: 25px;
  font-size: 12px;
  text-transform: uppercase;
  color: #a0a1a5;
}

.submenu-content__list:not(.events) {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}

.submenu-content__list.events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0;
}

.submenu-content__list-item {
  display: block;
  border-radius: 20px;
  background-color: rgba(1, 1, 1, 0.6);
  cursor: auto;
}

.submenu-content__link {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 10px 20px;
  border: 1px solid transparent;
  transition: var(--transition);
}

.submenu-content__link-img {
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  transition: var(--transition);
}

.submenu-content__link-img img {
  transition: 0.4s ease-in;
}

.submenu-content__link-title {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12px;
}

.submenu-content__link-text {
  padding: 0 10px;
  font-size: 15px;
  color: #dedede;
}

.submenu-content__link-wrapper {
  display: flex;
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(1, 1, 1, 0.6);
}

.submenu-content__list.events .submenu-content__link-img {
  width: 100%;
  max-width: 220px;
  flex: 1;
  border-radius: 20px;
  margin-bottom: 0;
}

.submenu-content__info {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.submenu-content__category {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #ffc700;
  color: rgba(255, 255, 255, 0.7);
}

.submenu-content__list.events .submenu-content__link-title,
.submenu-content__list.events .submenu-content__link-text {
  padding: 0;
  margin-bottom: 12px;
}

.submenu-content__link-address,
.submenu-content__link-date {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #a0a1a5;
}

.submenu-content__link-address span,
.submenu-content__link-date span {
  line-height: 0.9;
}

.submenu-content__url {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  font-size: 14px;
  transition: var(--transition);
}
.submenu-content__url svg,
.submenu-content__url svg path {
  transition: var(--transition);
}

.header__burger {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  width: 24px;
  margin-left: auto;
}

.header__burger i {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 20px;
  transition: var(--transition);
}

.header__burger.active i:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.header__burger.active i:nth-child(2) {
  opacity: 0;
}

.header__burger.active i:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

@media (hover: hover) and (pointer: fine) {
  .header__list-item:hover .submenu-wrapper {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .header__list-item:hover ~ .header__list-item .submenu-wrapper {
    display: none;
  }

  .header__list-item:hover > a,
.header__list-item:hover > a svg path {
    color: var(--color-primary);
    fill: var(--color-primary);
  }

  .header__button:hover {
    background-color: rgba(1, 1, 1, 0.6);
    color: #ffb800;
  }

  .submenu-list__item.has-submenu:hover .submenu-list__item-wrapper {
    background-color: rgba(1, 1, 1, 0.6);
  }

  .submenu-list__item.has-submenu:hover .submenu-content,
.submenu-list__item.has-submenu:hover .submenu-list__item-wrapper > svg {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .submenu-content__list-item:hover .submenu-content__link {
    border-color: #ffc700;
  }

  .submenu-content__list-item:hover .submenu-content__link-img img {
    transform: scale(1.05);
  }

  .submenu-content__url:hover,
.submenu-content__url:hover svg path {
    color: var(--color-primary);
    stroke: var(--color-primary);
  }

  .submenu-content__url:hover svg {
    transform: translateX(5px);
  }
}
@media screen and (max-width: 1280px) {
  .header__navigation-wrapper {
    padding-left: 25px;
  }

  .submenu-list {
    max-width: 250px;
  }

  .submenu-content {
    max-width: calc(100% - 270px);
  }

  .submenu-content__url {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1024px) {
  .base-template__wrapper {
    min-height: 105vh;
  }

  .header {
    min-height: 64px;
    padding: 0 20px;
  }

  .header__burger {
    display: flex;
  }

  .header__navigation-wrapper {
    height: 200vh;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: rgba(12, 0, 22, 0.23);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .header__navigation-wrapper.open {
    opacity: 1;
    visibility: visible;
  }

  .header__list {
    flex-direction: column;
    gap: 30px;
  }

  .header__buttons-wrapper {
    flex-direction: column;
    margin-left: unset;
    margin-top: 50px;
    gap: 8px;
  }

  .header__navigation,
.header__list {
    width: 100%;
  }

  .header__list-item {
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 0;
    margin: 0;
  }

  .header__list-item.active a,
.header__list-item.active a > svg path {
    fill: var(--color-primary);
    color: var(--color-primary);
  }

  .header__list-item .submenu-wrapper {
    position: static;
    padding: 0;
    max-height: 0;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    overflow: hidden;
    transition: max-height var(--transition);
  }

  .submenu-list {
    width: 100%;
    max-width: 100%;
    gap: 5px;
  }

  .submenu-list__wrapper {
    margin-top: 30px;
  }

  .submenu-list__item {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .submenu-list__item:active .submenu-list__item-wrapper {
    background-color: rgba(1, 1, 1, 0.6);
  }

  .submenu-list__item:active .submenu-list__item-wrapper > svg {
    opacity: 1;
    visibility: visible;
  }

  .submenu-list__title {
    display: none;
  }

  .submenu-content {
    display: none;
  }

  .header__button {
    border: 1px solid white;
  }
}
@media screen and (max-width: 767.9px) {
  .header__buttons-wrapper,
.header__button {
    width: 100%;
  }
}